:root {
  --clr-black: #000;
  --clr-white: #fff;
  --clr-gray: #f9f4fb;
  --clr-yellow: #fd0;
  --clr-red: #ea0029;
  --clr-blue: #8191e6;
  --clr-green: #00ce7c;

  --ff-default: 'Sen', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-sm: 1rem;
  --fs-md: 1.25rem;
  --fs-lg: 1.5rem;
  --fs-xl: 1.75rem;
  --fs-xxl: 2.5rem;

  --mw: 640px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--clr-white);
  color: var(--clr-black);
  font-family: var(--ff-default);
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
header {
  display: block;
  background-color: var(--clr-gray);
}
.header_inner {
  display: flex;
  flex-direction: column;
  max-width: var(--mw);
  margin: 0 auto;
  padding: 1rem 0;
}
.header_logo {
  display: flex;
  position: relative;
  margin-bottom: 2rem;
}
.header_logo a {
  display: block;
}
.header_logo a img {
  height: 4rem;
}
.header_title {
  font-size: var(--fs-md);
}
.list {
  max-width: var(--mw);
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}
.child {
  width: 100%;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}
.tags {
  display: block;
  color: var(--clr-blue);
  margin-bottom: 0.5rem;
}
.tags a {
  text-decoration: none;
  margin-right: 0.5rem;
}
.title {
  margin-bottom: 0.5rem;
}
.title a {
  font-size: var(--fs-lg);
  color: var(--clr-black);
  font-weight: var(--fw-bold);
  text-decoration: none;
}
.detail {
  max-width: var(--mw);
  margin: 1rem auto;
}
.error404 {
  text-align: center;
  font-size: var(--fs-xl);
}